.add-flirt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10%;
  padding-block: var(--spacing-md);
  gap: var(--spacing-lg);
}

.add-flirt-input {
  flex: 1;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-xxl);
}

.add-flirt-actions {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xl);
}

@media (max-width: 768px) {
  .add-flirt {
    padding-inline: var(--spacing-sm);
    flex-direction: column;
    align-items: stretch;
  }

  .add-flirt-actions {
    width: unset;
    flex: 1;
    gap: var(--spacing-xxl);
  }

  .add-flirt-actions .custom-button:nth-of-type(1) {
    order: 1;
  }
}
