.top-flirts {
  flex: 1;
  padding: var(--spacing-md);
  border-top-left-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
  overflow-y: auto;
}

.top-flirts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-flirt-list {
  margin-top: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
