.profile-essentials {
  flex: 1;
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
}

.name-input {
  padding: var(--spacing-sm) var(--spacing-md);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
}

.avatar-preview img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-position: center;
  object-fit: cover;
}
