@import url("../lib/styles/reset.css");

:root {
  /* Background images */
  --bg-image-light: url("../assets/bg-light.png");
  --bg-image-dark: url("../assets/bg-dark.png");
  --bg-blur: blur(32px);

  /* Light theme (default) */
  --bg-image: var(--bg-image-light);
  --accent: #ff1694;
  --accent-glass: rgba(255, 22, 148, 0.3);
  --accent-warning: #ff8c00;
  --accent-danger: #ff4757;

  /* Primary and secondary colors */
  --primary: #ffffff;
  --secondary: #e0e0e0;

  /* Text colors */
  --text-primary: #111827;
  --text-muted: #6b7280;

  /* Font sizes */
  --font-size-xl: 32px;
  --font-size-lg: 24px;
  --font-size-md: 16px;
  --font-size-sm: 12px;
  --font-size-xs: 10px;

  /* Spacing */
  --spacing-xxl: 48px;
  --spacing-xl: 32px;
  --spacing-lg: 24px;
  --spacing-md: 16px;
  --spacing-sm: 8px;

  /* border radius */
  --radius-circle: 50%;
  --radius-xxl: 48px;
  --radius-md: 16px;
  --radius-sm: 8px;
  --radius-xs: 4px;
}

[data-theme="dark"] {
  /* Dark theme */
  --bg-image: var(--bg-image-dark);
  --accent: #ff1694;

  /* Primary and secondary colors */
  --primary: #121212;
  --secondary: #1e1e1e;

  /* Text colors */
  --text-primary: #f9fafb;
  --text-muted: #e5e7eb;
}

/* Utility classes */
.g-bg {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.g-fg {
  background: rgba(255, 255, 255, var(--section-opacity, 0.3));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.g-fg-color {
  background: var(--section-color, rgba(255, 255, 255, 0.3));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--section-color, rgba(255, 255, 255, 0.3));
}

body {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  position: relative;
  color: var(--text-primary);
  font-family: var(--primary-font, "sans-serif");
}

body h2,
.profile-interests label {
  font-weight: 600;
  font-family: var(--heading-font), sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-muted);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: var(--bg-blur);
  z-index: -1;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
