.info-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.info-card > div {
  --section-opacity: 0.2;
  display: flex;
  align-items: center;
  padding: var(--spacing-sm);
  border-radius: var(--radius-md);
  box-shadow: none;
}

.info-card strong {
  padding: 3px 6px;
  font-size: var(--font-size-sm);
  height: fit-content;
  border-radius: var(--radius-md);
  margin-right: var(--spacing-sm);
  box-shadow: none;
  font-size: var(--font-size-sm);
  color: var(--text-muted);
}

.info-card p {
  font-size: var(--font-size-sm);
}
